#code_area { height: 400px; font-family: Consolas; }
#coded_area { font-family: Consolas; }
.state { font-family: Tahoma; color: gray; }
.state-ac { color: green; }
.state-wa { color: red; }
.state-ce { color: blue; }
.state-le { color: purple; }
.state-re { color: purple; }
.state-pe { color: orange; }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    margin-bottom: 1rem;
  }
}